*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/functions/node_modules/
/firebase-debug.log
/firestore-debug.log
/functions/firestore-debug.log
/captures
.externalNativeBuild
.cxx
local.properties

node_modules
.env
*firebase-adminsdk*.json
firestore-debug.log

node_modules
.env
*firebase-adminsdk*.json
firestore-debug.log
